<div class="About">

    <p style="background-color: yellow;">
        Your About Us page is one of the first supporting web pages you’ll want to prioritize when building your business website.
    
    When someone wants to learn more about you or your business, the About Us page is what they’re most likely going to seek out. It may go by different labels—About, Story, Mission—but these types of pages serve the same key purpose: to be the page for a brand to say, “This is who we are.”
    
    Read on to learn how to craft the perfect About Us page for your business, and get inspired by About Us page examples from successful brands.
    Reference: https://www.shopify.com/in/blog/how-to-write-an-about-us-page
    </p>

</div>

