<form #centralForm ="ngForm" (ngSubmit)="onSubmit(centralForm)"> 
    <div class="outer">
    <div class="row sm-3">
       <label class="col-3">Enter email</label>
       <input class="col-4" type="email" name="usermail" 
       ngModel
       required 
       [ngClass]="{'input-error':centralForm.controls['useremail']?.invalid && centralForm.controls['useremail']?.invalid}" ><br>
    </div>
    <div class="row sm-3">
      <label class="col-3">Enter Name</label>
      <input class="col-4" type="text" name="username" ngModel required> 
    </div>
    <div class="row sm-3">
        <label class="col-3">DOB</label>
        <input class="col-4" type="date" name="dateofbirth" ngModel required>
    </div>
    <div>
        <button type="submit"class="btn btn-primary" [disabled]="!centralForm.valid">Submit</button>
    </div>
  </div>
</form>

<div>
  <p></p>
</div>
