<h3>E-paper</h3>
<div class="outer-container">
    <div class="row">
       <div class="col-4">
        Title
       </div>
       <div class="col-4">
        Product-ID
       </div>
       <div class="col-4">
        $-Price
       </div>
    </div>

    <div *ngFor="let dist of Basedata" class="list">
        <div class="row">
           <div class="col-4">
            {{dist.title}}
           </div>
           <div class="col-4">
            {{dist.id}}
           </div>
           <div class="col-4">
            {{dist.price}}
           </div>
        </div>
    </div>
</div>