
<div class="outer-container">
    <h3>E-paper</h3>

    <div *ngFor="let dist of Basedata" class="list">
        <div class="row">
           <div class="col-4">
            {{dist.category}}
           </div>
           <div class="col-4">
            {{dist.id}}
           </div>
           <div class="col-4">
            <p>${{dist.price}}</p>
           </div>
        </div>
        <div class="row">
            <div class="col">
                {{dist.title}}
            </div>
        </div>
    </div>
</div>